<body id="destinations_page">

  <h1>Destinations</h1>

  <div class="divother">
    
    <p>How wonderful of you to be perusing after all!</p>

    <p>Introducing 3 wonderful destination oppurtunities that will astound all the while leaving you penniless, unless of course you have mucho dinero my friend.
    </p>

      <ol>
      	<li>European Tour (A must if you must)</li>
      	<li>American Continent Coastline Tour (You never would have guessed it!)</li>
      	<li>World Ocean Tour (haha yeah, if you've seen one, you've seen 'em all, but don't take our word for it, book today!)</li>
      </ol>

      <p>Now jump on over to our 'Packages' page to see our pricing and to be truly wowwed indeed.</p>

  </div>

</body>
