<body id="home_page">

  <h1>Cruise Home</h1>

   <div class="divother">
     <p>We will show you the world from our world so cruise home and stay put with us. Enjoy the wonders of the world from the ever changing yet constant seascapes peppered with "land-ho's" inbetween.
     </p>

     <p>Visit our additional pages to see where you can go and for how much. Peruse away our friendly amigo, and remember, stay here not long... We embark soon ;)
     </p>
     
   </div>



</body>
