<h1>Packages</h1>

<body id="packages_page">

	<div id="travel_packages">
		 <div class="options">
		 	<h2>European Tour</h2>
		 	<p>Travel the European Isles and stop in on the wonders of your heritage. Discover the other world that exists.</p>
		 	<br><br><br><br><br>
		 	<p>$5678.00 for 20 day trip!</p>
		 </div>
		 
		 <div class="options">
		 	<h2>American Continent Coastline Tour</h2>
		 	<p>Travel the amamazazing coastline of the American continent from a legal distance of 200 miles away!
		 	<p><span class="binoculars">**bring your binocs**</span></p>
		 	<p>Join us for the non-adventure of a lifetime!</p>

		 	<p>$6738.00 for 30 day trip!</p>
		 </div>
		 
		 <div class="options">
		 	<h2>World Ocean Tour</h2>
		 	<p>Travel all of the worlds oceans and see breathtaking views! Wake to water and sleep to water. Filtered drinking water provided.</p>
		 	<br><br><br><br>
		 	<p>$8943.00 for 55 day trip!</p>
		 </div>

	</div>

</body>
